Repository aiida-vasp/aiida-vasp: changes, and which pre-commit hooks are due for each by the changed paths.
All: prospector, travis-linter

prospector:
  name: prospector
  entry: prospector
  language: system

travis-linter:
  name: travis
  entry: travis lint
  language: ruby
  additional_dependencies:
  - travis

Removed legacy runwf from setup.json
  setup.json
Due: none

Updated documentation
  doc/source/tutorials/fcc_si_dos.rst
  doc/source/tutorials/fcc_si_step2.rst
  doc/source/tutorials/fcc_si_step3.rst
  tutorials/eos.py
  tutorials/run_fcc_si_dos.py
  tutorials/run_fcc_si_multiple_volumes.py
  tutorials/run_fcc_si_multiple_volumes_eos.py
  tutorials/run_fcc_si_one_volume.py
Due: prospector

Updated documentation
  doc/source/tutorials/fcc_si_dos.rst
  doc/source/tutorials/fcc_si_step3.rst
  examples/run_vasp_lean.py
  tutorials/run_fcc_si_workchain.py
Due: prospector

Changed input namespaces for the workchains
  aiida_vasp/workchains/converge.py
  aiida_vasp/workchains/relax.py
  aiida_vasp/workchains/tests/test_converge_wc.py
  aiida_vasp/workchains/tests/test_relax_wc.py
  doc/source/tutorials/bulk_modulus.rst
  doc/source/tutorials/bulk_modulus_2.rst
  doc/source/tutorials/run_vasp_builder.rst
  examples/run_bands.py
  examples/run_converge.py
  examples/run_relax.py
Due: prospector

Updating documentation
  doc/source/concepts/calculations.rst
  doc/source/concepts/workchains.rst
  doc/source/developments/developments.rst
  doc/source/index.rst
  doc/source/tutorials/bulk_modulus_2.rst
Due: none

Fixed a bug in the convergence workchain and namespace setup
  aiida_vasp/utils/workchains.py
  aiida_vasp/workchains/converge.py
Due: prospector

Updated bands workchain namespace
  aiida_vasp/workchains/bands.py
  aiida_vasp/workchains/converge.py
  aiida_vasp/workchains/master.py
  aiida_vasp/workchains/verify.py
  examples/run_bands.py
Due: prospector

Updated additional namespaces
  aiida_vasp/workchains/bands.py
  aiida_vasp/workchains/converge.py
  aiida_vasp/workchains/master.py
  aiida_vasp/workchains/relax.py
Due: prospector

Removed parsing of CHGCAR and replaced it with a restart
  aiida_vasp/calcs/base.py
  aiida_vasp/workchains/bands.py
  aiida_vasp/workchains/master.py
  aiida_vasp/workchains/vasp.py
Due: prospector

Updated restart from charge density behavior when extracting bands
  aiida_vasp/calcs/base.py
  aiida_vasp/calcs/vasp.py
  aiida_vasp/workchains/bands.py
  aiida_vasp/workchains/master.py
Due: prospector

Updated the documentation, relinked install of plugin
  README.rst
  doc/source/getting_started/general.rst
  doc/source/getting_started/install.rst
  doc/source/getting_started/interact.rst
  doc/source/getting_started/python.rst
  doc/source/getting_started/rabbitmq.rst
  doc/source/index.rst
Due: none

Updated master workchain to support dos extraction
  aiida_vasp/calcs/base.py
  aiida_vasp/workchains/bands.py
  aiida_vasp/workchains/master.py
  doc/source/index.rst
Due: prospector

Updated test for relax workchain
  .travis.yml
  aiida_vasp/calcs/tests/test_base.py
  aiida_vasp/utils/fixtures/environment.py
  aiida_vasp/workchains/relax.py
  aiida_vasp/workchains/tests/test_relax_wc.py
Due: prospector, travis-linter

Updated bands and relax workchain test
  aiida_vasp/calcs/tests/test_base.py
  aiida_vasp/utils/fixtures/environment.py
  aiida_vasp/workchains/relax.py
  aiida_vasp/workchains/tests/test_bands_wc.py
  aiida_vasp/workchains/tests/test_relax_wc.py
Due: prospector

Removed six dependency and fixed workchain tests
  aiida_vasp/calcs/base.py
  aiida_vasp/calcs/tests/test_base.py
  aiida_vasp/calcs/vasp.py
  aiida_vasp/commands/mock_vasp.py
  aiida_vasp/commands/tests/test_potcar_cmd.py
  aiida_vasp/data/archive.py
  aiida_vasp/data/potcar.py
  aiida_vasp/parsers/file_parsers/parser.py
  aiida_vasp/parsers/file_parsers/potcar.py
  aiida_vasp/utils/fixtures/data.py
  aiida_vasp/utils/fixtures/environment.py
  aiida_vasp/utils/inheritance.py
  aiida_vasp/workchains/bands.py
  aiida_vasp/workchains/converge.py
  aiida_vasp/workchains/master.py
  aiida_vasp/workchains/relax.py
  aiida_vasp/workchains/tests/test_bands_wc.py
  aiida_vasp/workchains/tests/test_relax_wc.py
  aiida_vasp/workchains/verify.py
  doc/requirements.txt
  setup.json
Due: prospector

Remove band workchain from running tests
  setup.json
  tox.ini
Due: none

Removed pg_ctl and account names
  aiida_vasp/utils/fixtures/environment.py
  examples/run_bands.py
  examples/run_converge.py
  examples/run_relax.py
  examples/run_vasp_lean.py
  setup.json
Due: prospector

Changed yapf formatting after version pinning
  aiida_vasp/calcs/base.py
  aiida_vasp/calcs/tests/test_immigrant.py
  aiida_vasp/calcs/vasp.py
  aiida_vasp/calcs/vasp2w90.py
  aiida_vasp/commands/potcar.py
  aiida_vasp/data/potcar.py
  aiida_vasp/parsers/file_parsers/doscar.py
  aiida_vasp/parsers/file_parsers/poscar.py
  aiida_vasp/utils/fixtures/data.py
  aiida_vasp/workchains/bands.py
  aiida_vasp/workchains/converge.py
  aiida_vasp/workchains/master.py
  aiida_vasp/workchains/relax.py
  aiida_vasp/workchains/restart.py
  aiida_vasp/workchains/tests/test_bands_wc.py
  aiida_vasp/workchains/tests/test_converge_wc.py
  aiida_vasp/workchains/tests/test_relax_wc.py
  aiida_vasp/workchains/tests/test_vasp_wc.py
  aiida_vasp/workchains/vasp.py
  aiida_vasp/workchains/verify.py
  setup.py
Due: prospector

Added version printouts to Travis config file
  .travis.yml
Due: travis-linter

Updated pre-commit config due to invalid keys
  .pre-commit-config.yaml
Due: none

Updated core dependency and removed old extra
  .travis.yml
  setup.json
Due: travis-linter

Added D415 isolation to prospector
  .prospector.yaml
  aiida_vasp/calcs/vasp2w90.py
Due: prospector

Added prospector in separate repo of pre-commit
  .pre-commit-config.yaml
Due: none

Remove root_dir fetcher from fixture manager
  aiida_vasp/calcs/vasp2w90.py
  aiida_vasp/parsers/vasp.py
  aiida_vasp/utils/fixtures/environment.py
Due: prospector

Cleaned AiiDA environments on tests and updated manager
  aiida_vasp/commands/tests/test_potcar_cmd.py
  aiida_vasp/data/tests/test_potcar.py
  aiida_vasp/data/tests/test_potcar_walker.py
  aiida_vasp/parsers/file_parsers/tests/test_chgcar_parser.py
  aiida_vasp/parsers/file_parsers/tests/test_potcar_parser.py
  aiida_vasp/parsers/file_parsers/tests/test_wavecar_parser.py
  aiida_vasp/utils/fixtures/data.py
  aiida_vasp/utils/fixtures/environment.py
  aiida_vasp/utils/tests/test_aiida_utils.py
Due: prospector

Updated fixture manager to use new fixture interface
  .pylintrc
  aiida_vasp/utils/fixtures/__init__.py
  aiida_vasp/utils/fixtures/data.py
  aiida_vasp/utils/fixtures/environment.py
  aiida_vasp/utils/tests/test_aiida_utils.py
  conftest.py
Due: prospector

Added in missing geometry relaxation modes
  aiida_vasp/workchains/relax.py
  aiida_vasp/workchains/tests/test_relax_wc.py
Due: prospector

Added in missing geometry relaxation modes (#285)
  aiida_vasp/workchains/relax.py
  aiida_vasp/workchains/tests/test_relax_wc.py
Due: prospector

Remove redundant with_dbenvs
  aiida_vasp/utils/aiida_utils.py
Due: prospector

Added how to run tests to the documentation
  doc/source/index.rst
Due: none

Added file containing the running tests documentation
  doc/source/developments/running_tests.rst
Due: none

Introduced retrieve_temporary_list
  aiida_vasp/calcs/tests/test_vasp.py
  aiida_vasp/calcs/vasp.py
  aiida_vasp/parsers/base.py
  aiida_vasp/parsers/quantity.py
  aiida_vasp/parsers/tests/test_base_parser.py
  aiida_vasp/parsers/tests/test_vasp_parser.py
  aiida_vasp/parsers/vasp.py
  aiida_vasp/utils/fixtures/__init__.py
  aiida_vasp/utils/fixtures/calcs.py
Due: prospector

Introduced retrieve_temporary_list (#288)
  aiida_vasp/calcs/tests/test_vasp.py
  aiida_vasp/calcs/vasp.py
  aiida_vasp/parsers/base.py
  aiida_vasp/parsers/quantity.py
  aiida_vasp/parsers/tests/test_base_parser.py
  aiida_vasp/parsers/tests/test_vasp_parser.py
  aiida_vasp/parsers/vasp.py
  aiida_vasp/utils/fixtures/__init__.py
  aiida_vasp/utils/fixtures/calcs.py
Due: prospector

Fixed issue with analysing positional lengths in relaxation workchain
  aiida_vasp/workchains/converge.py
  aiida_vasp/workchains/relax.py
Due: prospector

Fixed the positional convergence test
  aiida_vasp/workchains/converge.py
  aiida_vasp/workchains/relax.py
Due: prospector

Fixed issue with analysing positional lengths in relaxation workchain (#290)
  aiida_vasp/workchains/converge.py
  aiida_vasp/workchains/relax.py
Due: prospector

Updated parsevasp dependency and fixed semantics in doc
  doc/source/index.rst
  setup.json
Due: none

Updated parsevasp dependency and fixed semantics in doc (#292)
  doc/source/index.rst
  setup.json
Due: none

Updated help text for POTCAR handling
  aiida_vasp/commands/options.py
  aiida_vasp/commands/potcar.py
  aiida_vasp/commands/tests/test_potcar_cmd.py
Due: prospector

Path conditions:
  prospector: any of: \.py$, but not: ^(doc)|(cookiecutters)|(aiida_vasp/test_data)
  travis-linter: any of: .travis.yml, but not: ^(doc)|(cookiecutters)|(aiida_vasp/test_data)
