Repository aiida-vasp/aiida-vasp: changes, and which pre-commit hooks are due for each by the changed paths.
All: prospector, travis-linter

prospector:
  name: prospector
  entry: prospector
  language: system

travis-linter:
  name: travis
  entry: travis lint
  language: ruby
  additional_dependencies:
  - travis

Remove coverage combine as we are only building one report (#351)
  .coveragerc
  .travis.yml
Due: travis-linter

Updated travis and tox settings
  .ci/run_ci_tests.sh
  .travis.yml
  tox.ini
Due: travis-linter

Updated travis and tox settings (#352)
  .ci/run_ci_tests.sh
  .travis.yml
  tox.ini
Due: travis-linter

Enabled GitHub Actions workflow and Codecov
  .ci/enable_ssh_localhost.sh
  .github/workflows/ci.yml
  tox.ini
Due: none

Enabled GitHub Actions workflow and Codecov (#353)
  .ci/enable_ssh_localhost.sh
  .github/workflows/ci.yml
  tox.ini
Due: none

Added Codecov badge and removed Coveralls
  README.rst
Due: none

Added codecov config file to enable status check
  codecov.yml
Due: none

Added Codecov badge and removed Coveralls (#354)
  README.rst
  codecov.yml
Due: none

Enabled the remaining code for coverage analysis
  .github/workflows/ci.yml
Due: none

Updated codecov config
  codecov.yml
Due: none

Removed fix for repo
  .github/workflows/ci.yml
Due: none

Enabled the remaining code for coverage analysis (#355)
  .github/workflows/ci.yml
  codecov.yml
Due: none

Added tests for errror handling
  aiida_vasp/parsers/error_handling.py
  aiida_vasp/parsers/tests/test_error_handling.py
  aiida_vasp/parsers/vasp_errors.yaml
Due: prospector

Updated the setup json file
  setup.json
Due: none

Updated the setup json file (#357)
  setup.json
Due: none

Updated the readme to include more badges
  README.rst
Due: none

Updated the readme to include more badges (#358)
  README.rst
Due: none

Adding the site magnetization as its own node in the output
  aiida_vasp/calcs/vasp.py
  aiida_vasp/parsers/base.py
  aiida_vasp/parsers/file_parsers/outcar.py
  aiida_vasp/parsers/file_parsers/parser.py
  aiida_vasp/parsers/node_composer.py
  aiida_vasp/parsers/settings.py
  aiida_vasp/parsers/vasp.py
  aiida_vasp/workchains/vasp.py
Due: prospector

Added badges into a table
  .github/workflows/ci.yml
  README.rst
Due: none

Added badges into a table (#359)
  .github/workflows/ci.yml
  README.rst
Due: none

Removed warning for included POTCAR and minor fixes in doc
  doc/source/getting_started/rabbitmq.rst
  doc/source/index.rst
Due: none

Added note about incomplete doc of workchains
  doc/source/concepts/parsing.rst
  doc/source/getting_started/install.rst
  doc/source/getting_started/test_run.rst
  doc/source/workchains/bands.rst
  doc/source/workchains/converge.rst
  doc/source/workchains/master.rst
  doc/source/workchains/relax.rst
Due: none

Update documentation (#361)
  doc/source/concepts/parsing.rst
  doc/source/getting_started/install.rst
  doc/source/getting_started/rabbitmq.rst
  doc/source/getting_started/test_run.rst
  doc/source/index.rst
  doc/source/workchains/bands.rst
  doc/source/workchains/converge.rst
  doc/source/workchains/master.rst
  doc/source/workchains/relax.rst
Due: none

Added tests for the parsing of the magnetization
  aiida_vasp/parsers/file_parsers/tests/test_magnetization_parser.py
  aiida_vasp/parsers/tests/test_vasp_parser.py
  aiida_vasp/test_data/magnetization/OUTCAR
  aiida_vasp/test_data/magnetization/OUTCAR_SINGLE
  aiida_vasp/utils/fixtures/__init__.py
  aiida_vasp/utils/fixtures/data.py
Due: prospector

Fixed too long line
  aiida_vasp/calcs/vasp.py
Due: prospector

Fixed linting
  aiida_vasp/calcs/vasp.py
  aiida_vasp/parsers/file_parsers/tests/test_magnetization_parser.py
  aiida_vasp/utils/fixtures/data.py
Due: prospector

Changed the magnetization tests so that they use only a single parsing function
  aiida_vasp/parsers/file_parsers/tests/test_magnetization_parser.py
  aiida_vasp/test_data/magnetization_single/OUTCAR
  aiida_vasp/utils/fixtures/__init__.py
  aiida_vasp/utils/fixtures/data.py
Due: prospector

Parsing of the magnetization and magnetization node (#360)
  aiida_vasp/calcs/vasp.py
  aiida_vasp/parsers/base.py
  aiida_vasp/parsers/file_parsers/outcar.py
  aiida_vasp/parsers/file_parsers/parser.py
  aiida_vasp/parsers/file_parsers/tests/test_magnetization_parser.py
  aiida_vasp/parsers/node_composer.py
  aiida_vasp/parsers/settings.py
  aiida_vasp/parsers/tests/test_vasp_parser.py
  aiida_vasp/parsers/vasp.py
  aiida_vasp/test_data/magnetization/OUTCAR
  aiida_vasp/test_data/magnetization_single/OUTCAR
  aiida_vasp/utils/fixtures/data.py
  aiida_vasp/workchains/vasp.py
Due: prospector

Preparing for release 1.0.0
  AUTHORS.rst
  CHANGELOG.rst
  aiida_vasp/__init__.py
  setup.json
Due: prospector

Reshuffled content in setup
  setup.json
Due: none

Reshuffled content in setup (#368)
  setup.json
Due: none

Minor updates of documentation
  doc/source/concepts/immigrations.rst
  doc/source/getting_started/profile.rst
Due: none

Minor updates of documentation (#367)
  doc/source/concepts/immigrations.rst
  doc/source/getting_started/profile.rst
Due: none

Preparing for release 1.0.1
  AUTHORS.rst
  CHANGELOG.rst
  aiida_vasp/__init__.py
  setup.json
Due: prospector

Added energies at SCF steps as a parsable node (energies_sc)
  aiida_vasp/calcs/vasp.py
  aiida_vasp/parsers/file_parsers/vasprun.py
  aiida_vasp/parsers/settings.py
  aiida_vasp/workchains/vasp.py
Due: prospector

Added additional errors
  aiida_vasp/parsers/vasp_errors.yaml
Due: none

Updated MANIFEST.in to include tags.yml
  MANIFEST.in
Due: none

Path conditions:
  prospector: any of: \.py$, but not: ^(doc)|(cookiecutters)|(aiida_vasp/test_data)
  travis-linter: any of: .travis.yml, but not: ^(doc)|(cookiecutters)|(aiida_vasp/test_data)
