Repository aiida-vasp/aiida-vasp: changes, and which pre-commit hooks are due for each by the changed paths.
All: prospector, travis-linter

prospector:
  name: prospector
  entry: prospector
  language: system

travis-linter:
  name: travis
  entry: travis lint
  language: ruby
  additional_dependencies:
  - travis

Reverted the pinning to AiiDA core 1.1 due to PR 3935 was included in the 1.2 release
  setup.json
Due: none

With the recent aiidateam/aiida-core#3935 #323 is not strictly necessary and we can lift the pinning to AiiDA core 1.1.
  setup.json
Due: none

With the recent aiidateam/aiida-core#3935 #323 is not strictly necessary and we can lift the pinning to AiiDA core 1.1. (#326)
  setup.json
Due: none

Let relax skip verify workchain
  aiida_vasp/workchains/relax.py
Due: prospector

More user friendly defaults
  aiida_vasp/workchains/vasp.py
Due: prospector

Fix a bug where keys with value 0 are ignored in Massager
  aiida_vasp/utils/parameters.py
Due: prospector

Let VaspCalculation default to use vasp.vasp parser
  aiida_vasp/calcs/base.py
  aiida_vasp/calcs/vasp.py
  aiida_vasp/utils/parameters.py
Due: prospector

VaspWorkChain no longer sets parser_name updated test
  aiida_vasp/utils/fixtures/calcs.py
  aiida_vasp/workchains/vasp.py
Due: prospector

#320 related stuff and other minor fixes (#321)
  aiida_vasp/calcs/vasp.py
  aiida_vasp/parsers/base.py
  aiida_vasp/utils/fixtures/calcs.py
  aiida_vasp/utils/parameters.py
  aiida_vasp/workchains/vasp.py
Due: prospector

Catch invalid INCAR tags
  aiida_vasp/calcs/tests/test_vasp.py
  aiida_vasp/parsers/file_parsers/incar.py
  aiida_vasp/parsers/file_parsers/tests/test_incar_parser.py
Due: prospector

Fixed immigrator by adding explicit call to presubmit
  aiida_vasp/calcs/immigrant.py
  aiida_vasp/calcs/tests/test_immigrant.py
Due: prospector

Updating return values due to pending PR in AiiDA core
  aiida_vasp/calcs/immigrant.py
Due: prospector

Fixed immigrator by adding explicit call to presubmit (#334)
  aiida_vasp/calcs/immigrant.py
  aiida_vasp/calcs/tests/test_immigrant.py
Due: prospector

Added AiiDA trove classifier
  setup.json
Due: none

Added AiiDA trove classifier (#340)
  setup.json
Due: none

Fixed migration of the Wannier90 interface
  aiida_vasp/calcs/tests/test_vasp2w90.py
  aiida_vasp/calcs/vasp2w90.py
  aiida_vasp/test_data/wannier/INCAR
  aiida_vasp/utils/fixtures/data.py
  examples/run_vasp_prep_w90.py
Due: prospector

Fixed migration of the Wannier90 interface (#341)
  aiida_vasp/calcs/tests/test_vasp2w90.py
  aiida_vasp/calcs/vasp2w90.py
  aiida_vasp/test_data/wannier/INCAR
  aiida_vasp/utils/fixtures/data.py
  examples/run_vasp_prep_w90.py
Due: prospector

fix tab-completion
  doc/source/getting_started/conda.rst
Due: none

example for SGE
  doc/source/getting_started/test_run.rst
  doc/source/tutorials/fcc_si_step1.rst
Due: none

fix tutorials numbering
  doc/source/tutorials/band_structure_electrons.rst
  doc/source/tutorials/bulk_modulus.rst
  doc/source/tutorials/bulk_modulus_2.rst
  doc/source/tutorials/run_vasp_builder.rst
Due: none

remove account name and fix attribute name
  doc/source/tutorials/bulk_modulus.rst
  doc/source/tutorials/bulk_modulus_2.rst
  doc/source/tutorials/run_vasp_builder.rst
Due: none

Update tutorial documents (#344)
  doc/source/getting_started/conda.rst
  doc/source/getting_started/test_run.rst
  doc/source/tutorials/band_structure_electrons.rst
  doc/source/tutorials/bulk_modulus.rst
  doc/source/tutorials/bulk_modulus_2.rst
  doc/source/tutorials/fcc_si_step1.rst
  doc/source/tutorials/run_vasp_builder.rst
Due: none

Moved bands related parameters to the parameter massager
  aiida_vasp/test_data/test_bands_wc/inp/CHGCAR
  aiida_vasp/utils/extended_dicts.py
  aiida_vasp/utils/parameters.py
  aiida_vasp/workchains/bands.py
  aiida_vasp/workchains/tests/test_bands_wc.py
Due: prospector

Fixed skipped test for band workchain
  aiida_vasp/commands/mock_vasp.py
  aiida_vasp/workchains/bands.py
  aiida_vasp/workchains/converge.py
  aiida_vasp/workchains/master.py
  aiida_vasp/workchains/tests/test_bands_wc.py
  examples/run_bands.py
Due: prospector

Added additional tests for smearing, charge and bands parameters
  aiida_vasp/utils/parameters.py
  aiida_vasp/utils/tests/test_parameters.py
Due: prospector

Fixed skipped test for band workchain (#343)
  aiida_vasp/commands/mock_vasp.py
  aiida_vasp/test_data/test_bands_wc/inp/CHGCAR
  aiida_vasp/utils/extended_dicts.py
  aiida_vasp/utils/parameters.py
  aiida_vasp/utils/tests/test_parameters.py
  aiida_vasp/workchains/bands.py
  aiida_vasp/workchains/converge.py
  aiida_vasp/workchains/master.py
  aiida_vasp/workchains/tests/test_bands_wc.py
  examples/run_bands.py
Due: prospector

Adding parsing of the magnetization
  aiida_vasp/parsers/file_parsers/outcar.py
Due: prospector

Initial implementation of error handling
  aiida_vasp/parsers/base.py
  aiida_vasp/parsers/error_handling.py
  aiida_vasp/parsers/file_parsers/stdout.py
  aiida_vasp/parsers/file_parsers/tests/test_stdout_parser.py
  aiida_vasp/parsers/settings.py
  aiida_vasp/parsers/vasp_errors.yml
  aiida_vasp/test_data/stdout/_scheduler-stdout.txt
  aiida_vasp/utils/fixtures/__init__.py
  aiida_vasp/utils/fixtures/data.py
Due: prospector

Make correct handling of STDOUT file in parsers
  aiida_vasp/calcs/tests/test_vasp.py
  aiida_vasp/parsers/file_parsers/stdout.py
  aiida_vasp/parsers/file_parsers/tests/test_stdout_parser.py
  aiida_vasp/parsers/quantity.py
Due: prospector

Moved override input parameters into a namespace
  aiida_vasp/calcs/vasp.py
  aiida_vasp/parsers/file_parsers/incar.py
  aiida_vasp/utils/parameters.py
  aiida_vasp/utils/tests/test_parameters.py
  aiida_vasp/workchains/bands.py
  aiida_vasp/workchains/converge.py
  aiida_vasp/workchains/relax.py
  aiida_vasp/workchains/tests/test_bands_wc.py
  aiida_vasp/workchains/tests/test_converge_wc.py
  aiida_vasp/workchains/tests/test_relax_wc.py
  examples/run_bands.py
  examples/run_converge.py
  examples/run_relax.py
  examples/run_vasp_lean.py
  examples/run_vasp_prep_w90.py
Due: prospector

Moved override input parameters into a namespace (#348)
  aiida_vasp/calcs/vasp.py
  aiida_vasp/parsers/file_parsers/incar.py
  aiida_vasp/utils/parameters.py
  aiida_vasp/utils/tests/test_parameters.py
  aiida_vasp/workchains/bands.py
  aiida_vasp/workchains/converge.py
  aiida_vasp/workchains/relax.py
  aiida_vasp/workchains/tests/test_bands_wc.py
  aiida_vasp/workchains/tests/test_converge_wc.py
  aiida_vasp/workchains/tests/test_relax_wc.py
  examples/run_bands.py
  examples/run_converge.py
  examples/run_relax.py
  examples/run_vasp_lean.py
  examples/run_vasp_prep_w90.py
Due: prospector

Added checking of invalid INCAR for ParametersMassage
  aiida_vasp/utils/parameters.py
  aiida_vasp/utils/tests/test_parameters.py
Due: prospector

Updated tests and removed redundant namespace list
  aiida_vasp/utils/parameters.py
  aiida_vasp/utils/tests/test_parameters.py
Due: prospector

Catch invalid INCAR tags (#333)
  aiida_vasp/calcs/tests/test_vasp.py
  aiida_vasp/parsers/file_parsers/incar.py
  aiida_vasp/parsers/file_parsers/tests/test_incar_parser.py
  aiida_vasp/utils/parameters.py
  aiida_vasp/utils/tests/test_parameters.py
Due: prospector

Added sphinxcontrib-details-directive to requirements
  doc/requirements.txt
Due: none

Added sphinxcontrib-details-directive to requirements (#350)
  doc/requirements.txt
Due: none

Remove coverage combine as we are only building one report
  .coveragerc
  .travis.yml
Due: travis-linter

Path conditions:
  prospector: any of: \.py$, but not: ^(doc)|(cookiecutters)|(aiida_vasp/test_data)
  travis-linter: any of: .travis.yml, but not: ^(doc)|(cookiecutters)|(aiida_vasp/test_data)
